@charset "UTF-8";
main .main-card .grid-main .card {
  display: inline-block;
  text-align: center;
  margin: 1rem;
  max-width: 410px;
  padding: 1.5rem;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  background: #c2bebf;
  background: linear-gradient(42deg, rgba(206, 199, 201, 0.786) 0%, rgba(197, 195, 195, 0.03) 100%); }

main .main-card .grid-main .card-styles h2, main .card-container .card-styles h2 {
  color: #594545; }

main .main-card .grid-main .card-styles .img-description, main .card-container .card-styles .img-description {
  color: #815b5b; }

.main-contact .contact-us .card-contact {
  display: flex;
  margin: 1rem;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45); }

.main-contact .contact-us fieldset div .botones {
  margin: 1rem 1rem;
  padding: 0.5rem;
  background-color: #fff8ea;
  color: #594545;
  border-radius: 0.5rem;
  border-style: hidden;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45); }

main .main-card .grid-main .card {
  display: inline-block;
  text-align: center;
  margin: 1rem;
  max-width: 410px;
  padding: 1.5rem;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  background: #c2bebf;
  background: linear-gradient(42deg, rgba(206, 199, 201, 0.786) 0%, rgba(197, 195, 195, 0.03) 100%); }

main .main-card .grid-main .card-styles h2, main .card-container .card-styles h2 {
  color: #594545; }

main .main-card .grid-main .card-styles .img-description, main .card-container .card-styles .img-description {
  color: #815b5b; }

.main-contact .contact-us .card-contact {
  display: flex;
  margin: 1rem;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45); }

.main-contact .contact-us fieldset div .botones {
  margin: 1rem 1rem;
  padding: 0.5rem;
  background-color: #fff8ea;
  color: #594545;
  border-radius: 0.5rem;
  border-style: hidden;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45); }

/*estilos main*/
main .main-card .main-text {
  margin: 1rem; }
  main .main-card .main-text h2 {
    align-content: center;
    margin-bottom: 2rem;
    font: size 1.5rem; }
  main .main-card .main-text p {
    margin: 1rem; }

main .main-card .grid-main .card-styles h2 {
  color: #594545; }

main .main-card .grid-main .card {
  display: inline-block;
  text-align: center;
  margin: 1rem;
  max-width: 410px;
  padding: 1.5rem;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  background: #c2bebf;
  background: linear-gradient(42deg, rgba(206, 199, 201, 0.786) 0%, rgba(197, 195, 195, 0.03) 100%); }

main .main-card .grid-main .card-styles h2, main .card-container .card-styles h2 {
  color: #594545; }

main .main-card .grid-main .card-styles .img-description, main .card-container .card-styles .img-description {
  color: #815b5b; }

.main-contact .contact-us .card-contact {
  display: flex;
  margin: 1rem;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45); }

.main-contact .contact-us fieldset div .botones {
  margin: 1rem 1rem;
  padding: 0.5rem;
  background-color: #fff8ea;
  color: #594545;
  border-radius: 0.5rem;
  border-style: hidden;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45); }

/*estilos main*/
main div {
  margin: 1rem; }
  main div h2 {
    margin-bottom: 2rem;
    font: size 1.5rem; }
    main div h2 p {
      margin-bottom: 1rem; }

main .card-container .card {
  display: inline-block;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  margin: 0.5rem;
  max-width: 410px;
  padding: 1.5rem; }

main .card-container .card-styles h2 {
  color: #594545; }

main .main-card .grid-main .card {
  display: inline-block;
  text-align: center;
  margin: 1rem;
  max-width: 410px;
  padding: 1.5rem;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  background: #c2bebf;
  background: linear-gradient(42deg, rgba(206, 199, 201, 0.786) 0%, rgba(197, 195, 195, 0.03) 100%); }

main .main-card .grid-main .card-styles h2, main .card-container .card-styles h2 {
  color: #594545; }

main .main-card .grid-main .card-styles .img-description, main .card-container .card-styles .img-description {
  color: #815b5b; }

.main-contact .contact-us .card-contact {
  display: flex;
  margin: 1rem;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45); }

.main-contact .contact-us fieldset div .botones {
  margin: 1rem 1rem;
  padding: 0.5rem;
  background-color: #fff8ea;
  color: #594545;
  border-radius: 0.5rem;
  border-style: hidden;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45); }

/*estilos main*/
main div {
  margin: 1rem; }
  main div h2 {
    margin-bottom: 2rem;
    font: size 1.5rem; }
    main div h2 p {
      margin-bottom: 1rem; }

main .card-container .card {
  display: inline-block;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  margin: 0.5rem;
  max-width: 410px;
  padding: 1.5rem; }

main .card-container .card-styles h2 {
  color: #594545; }

main .main-card .grid-main .card {
  display: inline-block;
  text-align: center;
  margin: 1rem;
  max-width: 410px;
  padding: 1.5rem;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  background: #c2bebf;
  background: linear-gradient(42deg, rgba(206, 199, 201, 0.786) 0%, rgba(197, 195, 195, 0.03) 100%); }

main .main-card .grid-main .card-styles h2, main .card-container .card-styles h2 {
  color: #594545; }

main .main-card .grid-main .card-styles .img-description, main .card-container .card-styles .img-description {
  color: #815b5b; }

.main-contact .contact-us .card-contact {
  display: flex;
  margin: 1rem;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45); }

.main-contact .contact-us fieldset div .botones {
  margin: 1rem 1rem;
  padding: 0.5rem;
  background-color: #fff8ea;
  color: #594545;
  border-radius: 0.5rem;
  border-style: hidden;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45); }

.main-contact h2 {
  font-size: 2rem;
  padding: 0.5rem;
  margin: 0.2rem; }

.main-contact .contact-us fieldset .contact {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between;
  flex-direction: column;
  text-align: center; }
  .main-contact .contact-us fieldset .contact .nombre {
    padding: 0.3rem; }
  .main-contact .contact-us fieldset .contact .email {
    padding: 0.3rem; }

.main-contact .contact-us fieldset .mensaje {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between;
  flex-direction: column;
  text-align: center; }

.main-contact .contact-us fieldset div .botones:hover {
  color: #fff8ea;
  background-color: #594545; }

/*reset*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none; }

/*body*/
body {
  font-family: "Cinzel Decorative", cursive; }

/*estilos del header*/
header {
  background-color: #fff8ea;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between;
  flex-direction: none;
  text-align: center;
  height: 11rem; }
  header .logo-h1 {
    width: 5rem; }
    header .logo-h1 .img-logo {
      padding: 0.5rem; }
  header h1 {
    margin: 0.2rem; }
  header nav {
    display: flex;
    align-items: center;
    padding: 0.2rem;
    justify-content: space-between;
    flex-direction: column;
    text-align: center; }
  header .nav-list {
    position: absolute;
    z-index: 1;
    padding: 0 4rem;
    margin: 0;
    height: 21rem;
    right: 0;
    top: 7rem;
    background: #fff8ea;
    color: #594545;
    transition: all 0.5s;
    font-size: 1rem;
    font-weight: 700; }
    header .nav-list li {
      line-height: 0.5rem;
      margin: 0.5rem 0;
      transition: all 0.5s; }
      header .nav-list li .nav-link:hover {
        opacity: 65%; }
  header .nav.list li a.active,
  header .nav-list li a.nav-link:hover {
    color: #3c2317;
    transition: 0.3s;
    opacity: 0.95; }

/*comienzo estilos main*/
main {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 1rem; }
  main .main-text h2 {
    margin-bottom: 2rem;
    font: size 1.5rem; }
    main .main-text h2 span {
      display: block; }
  main .main-text p {
    margin-bottom: 1rem; }
  main .img-ppal img {
    height: auto;
    width: 100%; }
  main .img-ppal .p-img {
    position: absolute;
    top: 30rem;
    right: 10%;
    left: 55%;
    color: whitesmoke;
    text-decoration: bold;
    font-weight: 700;
    margin: 0 0.5rem;
    font-size: 0.5rem; }

/*comienzo estilos section*/
section {
  display: flex; }
  section div {
    background-color: #fff8ea;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    font-size: 0.7rem; }
    section div img {
      width: 40%;
      margin-bottom: 10px;
      margin-top: 30px;
      max-width: 100%; }

/*comienzo de estilos de footer*/
footer {
  background-color: #815b5b; }
  footer p {
    margin: 1rem;
    padding: 0.3rem; }
    footer p a {
      text-decoration: none;
      color: #fff8ea;
      font-size: 0.7rem; }
    footer p a:hover {
      color: #3c2317; }
  footer .container {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    color: #fff8ea;
    font-size: 0.7rem;
    text-decoration: none; }
    footer .container .footer-icons a i {
      color: #fff8ea;
      font-size: 1.5rem;
      margin: 0.5rem; }
    footer .container .footer-icons a i:hover {
      color: #3c2317; }
    footer .container .button-copyright a {
      text-decoration: none;
      color: #fff8ea; }
    footer .container .button-copyright a:hover {
      text-decoration: underline;
      color: #3c2317; }

/*version desktop*/
@media screen and (min-width: 1024px) {
  .grid-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "header header" "main main" "main main" "section section" "footer footer";
    /*comienzo estilo header version desktop*/
    /*comienzo estilos main version desktop*/
    /*comienzo de section version desktop*/
    /*comienzo de footer versión desktop*/ }
    .grid-index header {
      grid-area: header;
      display: block;
      display: flex;
      align-items: center;
      padding: 0.5rem;
      justify-content: space-between;
      flex-direction: none;
      text-align: center;
      background-color: #fff8ea;
      margin-bottom: 1rem;
      height: 15rem; }
      .grid-index header .logo-h1 {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        justify-content: space-between;
        flex-direction: column;
        text-align: center; }
        .grid-index header .logo-h1 h1 {
          font-size: 1rem;
          display: block;
          text-decoration: none;
          color: #594545; }
        .grid-index header .logo-h1 .logo-h1:hover {
          opacity: 65%; }
      .grid-index header .bar-btn {
        display: none; }
      .grid-index header nav .nav-list {
        display: flex;
        align-items: center;
        position: relative;
        height: 6rem;
        top: 0;
        justify-content: end;
        transition: none; }
        .grid-index header nav .nav-list .nav-link {
          display: inline-block;
          line-height: 2rem;
          margin: 0 0.5rem;
          transition: none;
          padding: 0.2rem; }
        .grid-index header nav .nav-list .nav-link:hover {
          opacity: 0.65; }
    .grid-index main {
      grid-area: main; }
      .grid-index main .main-text:hover {
        transform: scale(1.1); }
      .grid-index main .card-container .card h2 {
        margin-top: 0.5rem; }
      .grid-index main .img-ppal .p-img {
        font-size: 2rem;
        position: absolute;
        top: 50rem; }
      .grid-index main .main-card .grid-main h2 {
        margin-top: 0.5rem; }
      .grid-index main .main-card .grid-main .card-one:hover {
        transform: scale(1.1); }
      .grid-index main .main-card .grid-main .card-two p a {
        text-decoration: none;
        color: #594545;
        padding: 1rem; }
      .grid-index main .main-card .grid-main .card-two:hover {
        transform: scale(1.1); }
    .grid-index section {
      grid-area: section;
      display: flex; }
      .grid-index section div {
        background-color: #fff8ea;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        font-size: 1rem; }
        .grid-index section div img {
          width: 25%;
          margin-bottom: 10px;
          margin-top: 30px;
          max-width: 100%; }
    .grid-index footer {
      grid-area: footer; }
      .grid-index footer p a {
        text-decoration: none;
        color: #fff8ea; }
      .grid-index footer p a:hover {
        color: #3c2317; } }
