//flex

@mixin flex($value, $content, $type, $text) {
  display: flex;
  align-items: center;
  padding: $value;
  justify-content: $content;
  flex-direction: $type;
  text-align: $text;
}

@mixin grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
